.header {
    background:#00008B;
    padding: 8px;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tel, .email, .wpp, .chat {
    position: relative;
}

.tel::before {
    content: url(../img/telefone-contato.png);
    position:absolute;
    left:-25px;
    top: -4px;   
}

.tel:hover {
    color: #DC143C;
}

.email::before {
    content: url(../img/email-contato.png);
    position: absolute;
    left: -25px;
    top: -4px;
}

.email:hover {
    color:#DC143C;
}

.wpp {
    margin-right: 8px;
    background:	#00FF00 ;
    padding: 14px 14px 14px 35px;
    border-radius: 20px;
}

.wpp::before {
    content: url(../img/wpp-contato.png);
    position: absolute;
    left: 7px;
    top: 10px;    
}

.wpp:hover {
    background:#1E90FF;
}

.chat {
    background:#DAA520;
    padding: 14px 14px 14px 35px;
    border-radius: 20px;
}

.chat::before {
    content: url(../img/chat-contato.png);
    position: absolute;
    left: 4px;
    top: 6px;
}

.chat:hover {
    background:#DC143C;
}






