@import url(./header.css);
@import url(./menu.css);
@import url(./banner.css);
@import url(./main-article.css);
@import url(./services.css);



body {
    margin: 0;
}

.content {
    width: 1200px;
    margin: 0 auto;
    position: relative;

}
.flex {
    display: flex;
}
.text-white {
    color: #fff;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-style: italic; 
    font-weight: bold;
    font-size: 12px; 
}

a {
    display: inline-block;
}
