.main-article {
    margin: 20px;
}

.main-article-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcome .text {
    width: 500px;
}

.welcome-text {
    color: #db1c1c;
    font-weight: bold;
    margin-bottom: 50px;
    font-size: 50px;
}

.welcome-text::first-line {
    color: #313ab9;
}

.button a {
    background: #883333;
    border-radius: 20px;
    padding: 10px;
}

.welcome {
    display: flex;
    flex-direction: column;
}

.button {
    margin-top: 25px;
}

.main-article .lower-line {
    background: #ac0808;
    height: 3px;
    width: 50px;
    position: absolute;        
}

.main-article .higher-line {
    background: #929090;
    height: 3px;
}




