.menu {
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center
}
li {
    list-style: none;
    padding-right: 20px;
}

li a {
    background: #e2e2e2;
    padding: 10px; 
    border-radius: 20px;
    color: #ca0606;
    text-decoration: none; 
}

li a:hover {
    background: #1ac55c;
    color: #ec199b;
}

