
.services {
    background: #2e278f;
    
}

.services-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.services-item {
    flex: 1px ;
}

.services-item > div {
    border: solid 10px #000;
    min-height: 480px;
    height: 100%;
    padding: 10px 20px;
    position: relative;
    margin: 0 10px;
}

.services-item figure {
    margin: 0;
}

.services-item img {
    width: 100%;
}

.services a {
    background: #883333;
    border-radius: 20px;
    padding: 10px;
}

.services-item_link {
    /* position: absolute;
    bottom: 20px;
    left: calc(50% - 45px); */
}

.services-items_actions {
    text-align: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0;
}

